target/
!.mvn/wrapper/maven-wrapper.jar
*.class
*.log
*.ctxt
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# VS Code
.vscode/

# Database / Docker
mysql_data/
.env

# API Keys (Security)
application.properties
